#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.main-container {
    background-color: rgba(245, 245, 245, 0.3); /* Białe tło z 60% przezroczystością */
    border-radius: 10px; /* Zaokrąglone rogi */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Delikatny cień dla efektu "uniesienia" */
    backdrop-filter: blur(10px); /* Efekt rozmycia dla tła */
}

.logo {
    max-height: 400px;
}


.box {
    display: flex;
    flex-direction: column;
}

.word {
    margin-top: 3px;
    margin-bottom: 36px;
    display: flex;
    height: 26px;
    justify-content: end;
    align-items: center;
}

.word p {
    text-align: right;
}

.word span {
    font-size: small;
    position: absolute;
    transform: translate(-147px, 34px);
}
